*{
    margin: auto;
}

body {
    padding: 20px;
    background-color: #f8e8ee;
    font-family: "Codec cold",sans-serif;
}

h1{
    padding: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: #a15d76;

}

#gridContainer {
    padding-bottom: 10px;
}

table {
    background-color: #f9f5f6 ;
    border-spacing: 0;
}

td {
    border: 1px solid #fdcedf;
    width: 10px;
    height: 10px;  
}

span {
    color: white;
}

#start,
#clear,
#random {
    padding: 12px;
    padding-right: 22px;
    padding-left: 22px;
    width: 130px;
    border-radius: 20px;
    border: none;    
    background: linear-gradient(
        to bottom right,
        #f8a9c6, #ca7b98);
    color: white;
    font-family: sans-serif;
    font-size: medium;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;


}

#start:hover,
#clear:hover,
#random:hover{
    opacity: 0.75;
}



td.dead {
    background-color: transparent;
}

/*td.live {
    background-color: #f2bed1 ;
    border-radius: 1px;
}*/

.controls{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#start:hover,
#clear:hover,
#random:hover {
    cursor: pointer;
}


td.live {
    --c: #f2bed1;
    aspect-ratio: 1;
    border-image: radial-gradient(var(--c) 69%,#0000 70%) 84.5%/50%;
    clip-path: polygon(-42% 0,50% 91%, 142% 0);
  }

